/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: OnlineTopAlternateLightBlueRows;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 8;
	border-left-color: #546c7f;
	border-right-color: #546c7f;
	border-top-color: #546c7f;
	border-bottom-color: #546c7f;
	page-break-before: avoid;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
	separator-color: #bfc2c5;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #3f4145;
	background-color: #546c7f;
	name: Header1;
	id: 2;
	font-family: 'GE Inspira';
	color: #ffffff;
	font-weight: bold;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: BlueRows;
	id: 1;
	background-color: #f0f8ff;
	separator-color: #546c7f;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: WhiteRows;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #546c7f;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-OnlineTopAlternateLightBlueRows
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #546c7f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #546c7f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #546c7f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #546c7f;
	border-bottom-width: 1px;
	page-break-before: avoid;
	border-spacing: 0px 0px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-Column-Column1
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-Head-Header1
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #3f4145;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'GE Inspira';
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-Foot-Footer1
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootI-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootE-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootF-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootH-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootD-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootC-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootB-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootA-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootG-Column1-Footer1 p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-Foot-Footer2
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootI-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootE-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootF-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootH-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootD-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootC-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootB-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootA-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootG-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-OnlineTopAlternateLightBlueRows-FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-OnlineTopAlternateLightBlueRows-Body-BlueRows
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyI-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyI-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyE-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyE-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyF-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyF-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyH-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyH-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyD-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyD-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyC-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyC-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyB-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyB-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyA-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyA-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyG-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyG-Column1-BlueRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-Body-WhiteRows
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyI-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyI-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyE-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyE-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyF-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyF-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyH-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyH-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyD-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyD-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyC-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyC-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyB-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #bfc2c5;
	border-right-style: solid;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyB-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyA-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyA-Column1-WhiteRows p
{
	
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyG-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-OnlineTopAlternateLightBlueRows-BodyG-Column1-WhiteRows p
{
	
}

